.contact-index-index .page-map {
    height: 300px;
    margin-bottom:15px;
}

.page-map{
    &__address{
        margin-bottom: @indent__s;

        &::first-line{
            font-weight: bold;
        }
    }

    &__content{
        margin-bottom: @indent__base;

        *:last-child{
            margin-bottom: 0;
        }
    }
}

.page-map--marker-pointer{
    .mapboxgl-marker{
        cursor: pointer;
    }
}

/**
 * Style popup close button so it doesn't use Magento button styling
 */
.mapboxgl-popup-close-button{
    color: @primary__color;
    background: none;
    border: none;

    &:hover{
        border: none;
    }
}
